<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa36iuTBPHts8Ykt4O9ql2BfMpt6q5VkE</string>
	<key>GCM_SENDER_ID</key>
	<string>263630130569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ScaleMyhealth.SMH</string>
	<key>PROJECT_ID</key>
	<string>scale-my-health-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>scale-my-health-notification.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263630130569:ios:27b073d81bbbb6035ea558</string>
</dict>
</plist>